body {
  background-color: #292E37;
}

.col-md-2 {
  background-color: white;
}
.col-md-8 {
  background-color: red;

}
.container {

    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, yellow); /* Standard syntax (must be last) */
    height: 800px;
}

.main {
    height: 150px;
}

header h1 {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  color: #292E37;
  padding-top: 80px;
}

h2, #main-question {
  text-align: center;
  font-family: font-family: 'Trirong', serif;
  font-size: 2em;
}

#start-button {
  background-color: #292E37;
  color: red;
  padding: 7px;
}

#result-img {
  background-color: white;
}

ol {text-align: center; list-style-position: inside;}

#main-question {color: white;}

.questions {height: 300px; color: black;}