body {
  background-color: #292E37;
}

.container {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#009999, #00CC00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#009999, #00CC00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#009999, #00CC00); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#009999, yellow); /* Standard syntax (must be last) */
    height: 800px;
}

header h1 {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  color: #292E37;
  padding-top: 80px;
}

p {
  font-family: 'Trirong', serif;
  text-align: center;
  font-weight: bold;
}

.timer-p {
  margin-top: 40px;
  font-size: 16px;
  text-align: center;
}

.question {
  text-align: center;
}
.answer:hover {
  background: #FFF700;
}

.answer {
  padding-top: 7px;
  height: 45px;
  color: #292E37;
  padding-left: 14px;
  background-color: cyan;
  border-radius: 4px;
}

.img-wrong {
  margin-top: 40px;
}

.first-answer {
  margin-top: 40px;
}

.reset-button {
  margin-top: 40px;
}

.btn-block {
  width: 40%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: grey solid 2px;
  background-color: #292E37;
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  color: #46B3B3;
}

.btn-block:hover {
  background-color: #005D5D;
  color: #00CC00;
  border: #005D5D solid 2px;
}

.summary-correct {
  margin-top: 40px;
}

